export("boot_mbplsda", "cvpred_mbplsda", "disjunctive", "mbplsda", "permut_mbplsda", "plot_boot_mbplsda", "plot_cvpred_mbplsda", "plot_permut_mbplsda", "plot_pred_mbplsda","plot_testdim_mbplsda", "pred_mbplsda", "testdim_mbplsda")
import(ade4, pROC)
importFrom(DiscriMiner, binarize)
importFrom(FactoMineR, coeffRV)
importFrom(MASS, ginv)
importFrom("stats", cor, density, lm, nobs, sd, t.test, anova, complete.cases, lm.wfit, quantile)
importFrom("doParallel", registerDoParallel)
importFrom("parallel", makeCluster, stopCluster)
importFrom("foreach", foreach, "%dopar%")
importFrom("grDevices", "dev.off", "gray", "pdf")
importFrom("graphics", "abline", "axis", "barplot", "hist", "legend","lines", "mtext", "par", "plot", "points", "segments")
importFrom("utils", "modifyList")